<div class="text-center">
  <h2>フォロワー一覧</h2>
</div>
<table align="center">
  <thead>
    <tr>
      <th>プロフ画像</th>
      <th>ニックネーム</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= image_tag user.get_profile_image(100,100) %>
      </td>
      <td>
        <%= link_to public_user_path(user.id) do %>
        <%= user.name %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
