<div class="container">
  <divclass="row">
    <div class="col-4 offset-4">
      <h2>ジャンル一覧</h2>
      <%#= form_with model: @genre, url: admin_genres_path do |f| %>
      <table>
        <thead>
          <th>ジャンル名</th>
          <th>生物の色</th>
        </thead>
        <tbody>
          <tr>
            <td><% @genres.each do |genre| %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>