<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>ユーザー情報</h2>
      <%#=render 'users/info', user: @creture.user %>
      <h2>生体飼育</h2>
      <%#= render 'cretures/list', creture: Creature.new %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>生体飼育情報一覧</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@creature.user.id) do %>
                <%= image_tag currect_user.get_profile_image(100,100) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

