<div class="text-center">
  <h1>ようこそWater Petsへ！</h1>
  <p>ここは観賞魚飼育の魅力を共有するレビューサイトです。<br>
  会員でない方も生物の一覧は閲覧できますが、飼育レビューは会員登録が必要になります。<br>
  皆さんのアクアライフがよりよくなるようなサイトにしていきたいと思います。</p>


  <p>
    <%= image_tag('water_00146.jpg',size: "600x400") %>
  </p>
</div>
<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block md-3 sign_in", method: :post %>
  </div>
</div>
