<table>
  <tbody id="post_comments_area">
    <% creature.post_comments.each do |post_comment| %>
      <%= render 'public/post_comments/post_comment', post_comment: post_comment %>
    <% end %>
  </tbody>
</table>
