<h2>ユーザー一覧</h2>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th></th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.get_profile_image(100,100) %></td>
              <td>
                <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <%= paginate @users %>
        </tbody>
      </table>

