<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h2>ユーザー一覧</h2>
    </div>
    <div class="col-4 offset-4">
      <table>
        <thead>
          <tr>
            <th>プロフ画像</th>

            <th class="pl-5">名前</th>

          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= image_tag user.get_profile_image(100,100) %>
            </td>

            <td class="pl-5">
              <%= link_to admin_user_path(user.id) do %>
                <%= user.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= paginate @users %>
