<table class="table">
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
    <th>ニックネーム</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th><%#= user.followings.count %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th><%#= user.followers.count %></th>
  </tr>
</table>
<%= link_to edit_public_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
  <i class="fas fa-user-edit"></i>
<% end %>
