  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to "会員一覧", admin_users_path, class: "nav-link text-light mr-5" %>
    </li>
    <li class="nav-item">
      <%= link_to "投稿一覧", admin_creatures_path, class: "nav-link text-light mr-5" %>
    </li>
    <li class="nav-item">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light mr-5" %>
    </li>
  </ul>
