<% if admin_signed_in? %>
  <li>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
<% end %>
  <li>
    <%= link_to "会員一覧", admin_users_path %>
  </li>
  <li>
    <%= link_to "ジャンル一覧", admin_genres_path %>
  </li>
