
  <li>
    <%= link_to "About", destroy_user_session_path, method: :delete %>
  </li>
  <li>
    <%= link_to "生物一覧", creatures_path %>
  </li>
  <li>
    <%= link_to "新規登録", new_user_registration_path %>
  </li>
  <li>
    <%= link_to "ログイン", new_user_session_path %>
  </li>
